@using BusinessLogicLevel.Models;
@model TaskModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">   
            <h2 class="text-primary">Add new Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Task" asp-action="Index" class="btn btn-primary"></a>
    </div>
</form>

@*@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>*@


